body {
  background: rgb(228,228,228);
}

h2 {
  color: rgb(8,7,7);
  text-decoration: underline;
}

.whiteheading {color: rgb(8,7,7);
}
.wrapper {
  border:5px solid rgb(255,123,29);
}
.wrapperr {
  border:10px solid rgb(0,0,0);
  padding:16px;
}
span{
  display: inline-block;
  float: right;
  padding:0;
  margin:0;
  margin-right:10px;
}
ul{
  clear:both;
}
h4{
  float:left;
  margin:0;
  margin-bottom:10px;
}

.edu p{
  margin: 10px 0;
}
